# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output & Temporary generation files
output/
temp/
cache/
models/

# Environment files
.env
.venv
env/
venv/
ENV/

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
